* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(code.jpg) no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}